<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asset Amy</title>
    <link rel="stylesheet" href="~/lib/daisyui/full.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/favicon/site.webmanifest">
</head>
<body>
    @{
        string currentController = "";
        string currentAction = "";

        if (ViewContext.RouteData.Values["controller"] != null)
        {
            currentController = ViewContext.RouteData.Values["controller"].ToString();
        }

        if (ViewContext.RouteData.Values["action"] != null)
        {
            currentAction = ViewContext.RouteData.Values["action"].ToString();
        }

        var routerLinks = new []
        {
            new { ControllerName = "Dashboard", ActionName = "Index", Label = "Übersicht", Href = "/dashboard" },
            new { ControllerName = "Dashboard", ActionName = "Expenses", Label = "Ausgaben", Href = "/dashboard/expenses" },
            new { ControllerName = "Dashboard", ActionName = "Revenues", Label = "Einnahmen", Href = "/dashboard/revenues" },
            new { ControllerName = "Dashboard", ActionName = "AssetAllocation", Label = "Asset Allocation", Href = "/dashboard/asset-allocation" },
        };
    }

    <header>
        <div class="navbar bg-primary text-primary-content">
            <div class="navbar-start w-4/12">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </label>
                    <ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-primary rounded-box w-52">
                        @foreach (var link in routerLinks)
                        {    
                            <li>
                                <a
                                    @if(currentController == link.ControllerName && currentAction == link.ActionName) { 
                                        @: class="font-bold" 
                                    }
                                    href="@(link.Href)"
                                >@(link.Label)</a>
                            </li>
                        }
                        <li
                            onclick="function(event) {
                                event.preventDefault();
                                event.stopPropagation();

                                localStorage.removeItem('token');

                                window.location.href = '/sign-out';
                            }"
                        >
                            <a href="/sign-out">
                                Abmelden
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-ghost normal-case text-xl">Asset Amy</a>
            </div>
            <div class="navbar-end hidden lg:flex w-8/12">
                <ul class="menu menu-horizontal px-1">
                    @foreach (var link in routerLinks)
                    {    
                        <li>
                            <a
                            @if(currentController == link.ControllerName && currentAction == link.ActionName) { 
                                @: class="font-bold" 
                            }
                                href="@(link.Href)"
                            >@(link.Label)</a>
                        </li>
                    }
                    <li>
                        <a href="/sign-out">
                            Abmelden
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main role="main" class="dashboard-layout-container grid grid-cols-1 lg:grid-cols-10">
        <div class="sidebar hidden col-span-0 lg:block lg:col-span-2">
            <ul class="menu h-screen min-w-42 p-3 border bg-base-100">
                <li class="menu-title">
                    <span>
                        Dashboard
                    </span>
                </li> 
                @foreach (var link in routerLinks)
                {    
                    <li>
                        <a
                            @if(currentController == link.ControllerName && currentAction == link.ActionName) { 
                                @: class="bg-primary rounded-lg text-primary-content" 
                            }
                            href="@(link.Href)"
                        >
                            @switch(link.Href) 
                            {
                                case "/dashboard":
                                    @Html.Partial("~/Views/Shared/Icons/Home.cshtml", "w-6 h-6")
                                break;
                                case "/dashboard/expenses":
                                    @Html.Partial("~/Views/Shared/Icons/CreditCard.cshtml", "w-6 h-6")
                                break;
                                case "/dashboard/revenues":
                                    @Html.Partial("~/Views/Shared/Icons/BankNotes.cshtml", "w-6 h-6")
                                break;
                                case "/dashboard/asset-allocation":
                                    @Html.Partial("~/Views/Shared/Icons/ChartPie.cshtml", "w-6 h-6")
                                break;
                            }

                            @(link.Label)
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="dashboard-content col-span-10 lg:col-span-8 bg-base-200">
            @RenderBody()
        </div>
        <div class="toast-container toast toast-end"></div>
    </main>

    <input type="checkbox" id="modal-toggle" class="modal-toggle">
    <div id="modal" class="modal">
        <div class="modal-box">
            <span id="circle-close-btn" class="btn btn-ghost btn-sm btn-circle absolute right-2 top-2">✕</span>
            <div class="modal-content"></div>
            <div class="modal-action">
                <button id="close-btn" class="btn btn-sm px-6">abbrechen</button>
                <button id="save-btn" class="btn btn-primary btn-sm px-6">speichern</button>
            </div>
        </div>
    </div>

    <input type="checkbox" id="confirm-modal-toggle" class="modal-toggle">
    <div id="confirm-modal" class="modal">
        <div class="modal-box">
            <span id="circle-close-btn" class="btn btn-ghost btn-sm btn-circle absolute right-2 top-2">✕</span>
            <div class="modal-content"></div>
            <div class="modal-action">
                <button id="close-btn" class="btn btn-sm px-6">nein</button>
                <button id="save-btn" class="btn btn-primary btn-sm px-6">ja</button>
            </div>
        </div>
    </div>

    <script src="~/lib/tailwind/full.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
